{ 
    "extends": "react-native-wcandillon",
    "rules": {
      "@typescript-eslint/no-non-null-assertion": "off",
      "import/no-default-export": "off",
      "arrow-body-style": "off",
      "react-hooks/exhaustive-deps": "off",
      "prefer-arrow-callback": "off",
      "prettier/prettier": [
        "error",
        {
          "endOfLine": "auto"
        }
      ]
    } 
  }